* {
  box-sizing: border-box;
}
body {
  font-family: 'OpenSans', sans-serif;
  background-color: #f8f7ff;
}

.App {
  display: flex;
}

legend {
  display: none;
}

h3 {
  margin: 0;
  padding: 0;
}
h4 {
  margin: 0;
  padding: 0;
}

