* {
  box-sizing: border-box;
}
body {
  font-family: 'OpenSans', sans-serif;
  background-color: #f8f7ff;
}

.App {
  display: flex;
}

<<<<<<< HEAD
.form {
  padding: 60px 0px;
}
=======
legend {
  display: none;
}
>>>>>>> develop
