.menu-container {
  display: flex;
  height: 100vh;
}

.menu {
  background-color: #fefefe;
  border-right: 1px solid #f8f8f9;
  color: #9ba6b2;
  text-align: center;
  padding: 50px 10px;
  width: 80px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.menu__item {
  width: 40px;
  border-radius: 8px;
}

.menu__icon {
  font-size: 23px;
  margin: 10px 0px;
  display: block;
  padding: 8px 0px;
  transition: .3s;
}

.menu__item--active {
  color: #24c0fd;
  background-color: #e1f6ff;
}

.menu__icon:hover {
  color: #24c0fd; 
}

