.menu-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    width: 90px;
    background-color: #fefefe;
    border-right: 1px solid #f8f8f9;
    color: #9ba6b2;
    box-shadow: 10px 0px 15px -15px rgba(0,0,0,0.72);
    transition: .3s;
}
